.tetris-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #000; /* Remove the background image and use a solid color */
    overflow: hidden;
  }
  
  .tetris {
    display: flex;
    align-items: flex-start;
    padding: 40px;
    margin: 0 auto;
    max-width: 900px;
  }
  
  .tetris aside {
    width: 100%;
    max-width: 200px;
    display: block;
    padding: 0 20px;
  }